In [1]:
print('Hello From Jupyter')

Hello From Jupyter

In [5]:
my_str = 'Hello mohamed'
my_int = 23
print(my_str)
print("age is", my_int)

Hello mohamed
age is 23

In [6]:
my_str

'Hello mohamed'

In [7]:
my_str
my_int

23

In [10]:
number_of_apples = 5
if number_of_apples < 1:
    print('you have no apples')
elif number_of_apples == 1:
    print('you have one apple')
elif number_of_apples < 4:
    print('you have a few apples')
else:
    print('you have many apples!')

you have many apples!

In [11]:
student_names = ['mohamed','ali','ahmed','saad']
student_names[0]

'mohamed'

In [12]:
student_names[1]

'ali'

In [13]:
student_names[-1]

'saad'

In [14]:
student_names[0:2]

['mohamed', 'ali']

In [15]:
student_names[1:3]

['ali', 'ahmed']

In [16]:
student_names[:2]

['mohamed', 'ali']

In [17]:
student_names[2:]

['ahmed', 'saad']

In [23]:
student_names.append('nabel')

In [19]:
student_names

['mohamed', 'ali', 'ahmed', 'saad', 'nabel']

In [20]:
student_names.insert(2,'mokhtar')
student_names

['mohamed', 'ali', 'mokhtar', 'ahmed', 'saad', 'nabel']

In [21]:
del student_names[2]
student_names

['mohamed', 'ali', 'ahmed', 'saad', 'nabel']

In [24]:
student_names.append('omar')
student_names.append('omar')
student_names

['mohamed', 'ali', 'ahmed', 'saad', 'nabel', 'nabel', 'omar', 'omar']

In [25]:
student_names = ['mohamed','ali','ahmed','saad']
for student_name in student_names:
    print('Hello '+student_name + '!')

Hello mohamed!
Hello ali!
Hello ahmed!
Hello saad!

In [31]:
long_names = []
for student_name in student_names:
    if len(student_name) > 4:
        long_names.append(student_name)
long_names

['mohamed', 'ahmed']

In [33]:
student_names = ['mohamed','ali','ahmed','saad']
student_pairs = []
for student_name_0 in student_names:
    for student_name_1 in student_names:
        student_pairs.append(
        (student_name_0,student_name_1)
        )
student_pairs

[('mohamed', 'mohamed'),
 ('mohamed', 'ali'),
 ('mohamed', 'ahmed'),
 ('mohamed', 'saad'),
 ('ali', 'mohamed'),
 ('ali', 'ali'),
 ('ali', 'ahmed'),
 ('ali', 'saad'),
 ('ahmed', 'mohamed'),
 ('ahmed', 'ali'),
 ('ahmed', 'ahmed'),
 ('ahmed', 'saad'),
 ('saad', 'mohamed'),
 ('saad', 'ali'),
 ('saad', 'ahmed'),
 ('saad', 'saad')]

In [35]:
student_pairs[1]

('mohamed', 'ali')

In [38]:
student_names = ['mohamed','ali','ahmed','saad']
student_pairs = []
for student_name_0 in student_names:
    for student_name_1 in student_names:
        if student_name_0 != student_name_1:
           student_pairs.append(
             (student_name_0,student_name_1)
           )
student_pairs

[('mohamed', 'ali'),
 ('mohamed', 'ahmed'),
 ('mohamed', 'saad'),
 ('ali', 'mohamed'),
 ('ali', 'ahmed'),
 ('ali', 'saad'),
 ('ahmed', 'mohamed'),
 ('ahmed', 'ali'),
 ('ahmed', 'saad'),
 ('saad', 'mohamed'),
 ('saad', 'ali'),
 ('saad', 'ahmed')]

In [39]:
student_grade = ['mohamed','spanish','A']
student_grade

['mohamed', 'spanish', 'A']

In [40]:
student_grade[0]

'mohamed'

In [46]:
student_grade.append('IU Bloomington')
student_grade

['mohamed',
 'spanish',
 'A',
 'IU Bloomington',
 'IU Bloomington',
 'mm',
 'mm',
 'IU Bloomington']

In [48]:
del student_grade[3]
student_grade

['mohamed', 'spanish', 'A', 'mm', 'mm', 'IU Bloomington']

In [49]:
student_grade[3] = 'B+'
student_grade

['mohamed', 'spanish', 'A', 'B+', 'mm', 'IU Bloomington']

In [50]:
student_grade = ['mohamed','spanish','A']
student_name, subject, grade = student_grade
print(student_name)
print(subject)
print(grade)

mohamed
spanish
A

In [52]:
student_grades = [
    ('mohamed','Spanish','A'),
    ('ali','French','B'),
    ('ahmed','Italian','B+'),
    ('saad','English','A-'),
]
for student_name, subject, grade in student_grades:
    if grade.startswith('A'):
        print('congratulations', student_name, 'on getting an', grade, 'in', subject)

congratulations mohamed on getting an A in Spanish
congratulations saad on getting an A- in English

In [54]:
for student_grade in student_grades:
    if student_grade[2].startswith('A'):
        print('congratulations', student_grade[0], 'on getting an', student_grade[2], 'in', student_grade[1])

congratulations mohamed on getting an A in Spanish
congratulations saad on getting an A- in English

In [55]:
foreign_languages = {
    'mohamed' : 'Spanish',
    'ali' : 'French',
    'ahmed' : 'Italian',
    'saad' : 'English',
}

In [56]:
foreign_languages['mohamed']

'Spanish'

In [60]:
foreign_languages['omar']

KeyError: 'omar'

In [59]:
'omar' in foreign_languages

False

In [62]:
'ali' in foreign_languages

True

In [63]:
'Ali'in foreign_languages

False

In [65]:
foreign_languages['omar'] = 'Arabic'
foreign_languages

{'mohamed': 'Spanish',
 'ali': 'French',
 'ahmed': 'Italian',
 'saad': 'English',
 'Arabic': 'French',
 'omar': 'Arabic'}

In [66]:
del foreign_languages['omar']
foreign_languages

{'mohamed': 'Spanish',
 'ali': 'French',
 'ahmed': 'Italian',
 'saad': 'English',
 'Arabic': 'French'}

In [69]:
del foreign_languages['Arabic']
foreign_languages

KeyError: 'Arabic'

In [70]:
foreign_languages

{'mohamed': 'Spanish', 'ali': 'French', 'ahmed': 'Italian', 'saad': 'English'}

In [71]:
for key in foreign_languages:
    value = foreign_languages[key]
    print(key,'is taking',value)

mohamed is taking Spanish
ali is taking French
ahmed is taking Italian
saad is taking English

In [72]:
for key,value in foreign_languages.items():
    print(key,'is taking',value)

mohamed is taking Spanish
ali is taking French
ahmed is taking Italian
saad is taking English

In [73]:
student_grade = ['mohamed','spanish','A']
student_name, subject, grade = student_grades[0]
print(student_name, 'got a grade of', grade, 'in', subject)

mohamed got a grade of A in Spanish

In [76]:
record = {
    'name' : 'mohamed',
    'subject' : 'spanish',
    'grade' : 'A',
}
print(record['name'],'got a grade of', record['grade'],
      'in', record['subject'])

mohamed got a grade of A in spanish

In [77]:
student_grades = [
    ('mohamed','Spanish','A'),
    ('ali','French','B'),
    ('ahmed','Italian','B+'),
    ('saad','English','A-'),
]
student_grades[1]

('ali', 'French', 'B')

In [78]:
student_grades[1][2]

'B'

In [84]:
student_grade_records = []
for student_name, subject, grade in student_grades:
   record = {
     'name': student_name,
     'subject': subject,
     'grade': grade,
   }
   student_grade_records.append(record)
    
student_grade_records

[{'name': 'mohamed', 'subject': 'Spanish', 'grade': 'A'},
 {'name': 'ali', 'subject': 'French', 'grade': 'B'},
 {'name': 'ahmed', 'subject': 'Italian', 'grade': 'B+'},
 {'name': 'saad', 'subject': 'English', 'grade': 'A-'}]

In [85]:
student_grade_records[1]

{'name': 'ali', 'subject': 'French', 'grade': 'B'}

In [86]:
student_grade_records[1]['grade']

'B'

In [87]:
for record in student_grade_records:
    if record['grade'].startswith('A'):
        print('Congratulations', record['name'], 
              'on getting an', record['grade'], 
              'in', record['subject'])

Congratulations mohamed on getting an A in Spanish
Congratulations saad on getting an A- in English

In [88]:
foreign_language_grades = {}
for student_name, subject, grade in student_grades:
    record = {
        'subject': subject,
        'grade': grade,
    }
    foreign_language_grades[student_name] = record
    
foreign_language_grades

{'mohamed': {'subject': 'Spanish', 'grade': 'A'},
 'ali': {'subject': 'French', 'grade': 'B'},
 'ahmed': {'subject': 'Italian', 'grade': 'B+'},
 'saad': {'subject': 'English', 'grade': 'A-'}}

In [89]:
foreign_language_grades['mohamed']

{'subject': 'Spanish', 'grade': 'A'}

In [90]:
foreign_language_grades['mohamed']['grade']

'A'

In [91]:
student_course_grades = {}
for student_name, subject, grade in student_grades:
    student_course_grades[student_name, subject] = grade
    
student_course_grades

{('mohamed', 'Spanish'): 'A',
 ('ali', 'French'): 'B',
 ('ahmed', 'Italian'): 'B+',
 ('saad', 'English'): 'A-'}

In [92]:
student_course_grades['mohamed', 'Math'] = 'A'
student_course_grades['Ali', 'History'] = 'B'
student_course_grades

{('mohamed', 'Spanish'): 'A',
 ('ali', 'French'): 'B',
 ('ahmed', 'Italian'): 'B+',
 ('saad', 'English'): 'A-',
 ('mohamed', 'Math'): 'A',
 ('Ali', 'History'): 'B'}

In [93]:
student_report_cards = {}
for student_name, subject, grade in student_grades:
    if student_name not in student_report_cards:
        student_report_cards[student_name] = {}
    student_report_cards[student_name][subject] = grade
student_report_cards

{'mohamed': {'Spanish': 'A'},
 'ali': {'French': 'B'},
 'ahmed': {'Italian': 'B+'},
 'saad': {'English': 'A-'}}

In [96]:
student_report_cards['mohamed']['Math'] = 'A'
student_report_cards['mohamed']['History'] = 'B+'
student_report_cards

{'mohamed': {'Spanish': 'A', 'Math': 'A', 'History': 'B+'},
 'ali': {'French': 'B'},
 'ahmed': {'Italian': 'B+'},
 'saad': {'English': 'A-'}}

In [97]:
student_report_cards['mohamed']

{'Spanish': 'A', 'Math': 'A', 'History': 'B+'}